<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>アップロード</title>
  </head>
  <body>
    <form action="/posts" enctype="multipart/form-data" method="post">
      <input type="file" name="file" id="file" multiple="multiple">
      <input type="submit" value="Upload file" />
    </form>
  </body>
</html>


   <!-- <div class="field">
     <%= form.label :file %>
     <%= form.file_field :file, multiple: false %>
   </div>

   <div class="actions">
     <%= form.submit %>
   </div>
 -->
